.modal-image{

          width: 250px;
          height: 250px;
}
.modal-image-runescape{

          height: 250px;
          
}



.skills-list{
         
          
          font-size: 1.5rem;
          font-weight: bold;
          width: 230px;
          margin: auto;
          


          /* margin-left:25%;
          margin-bottom: -.05rem; */
          
         
}

.course-list{
          font-size: 1.5rem;
          font-weight: bold;
          width: 350px;
          margin: auto;
          padding-left: 1.75rem;
                 
}







