.modal-image{

          width: 250px;
          height: 250px;
}
.modal-image-runescape{

          height: 250px;
          
}

.skills-section{

          font-size: 1.75rem;
          font-weight: bold;

}